nav{
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
}

.progress{
    margin-top: 100px;
}

.content{
    min-height: calc(100vh - 7px - 64px);
    padding: 1.5rem 0;
    margin: 0 auto;
    width: 80%;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: start;
    justify-content: center;
    padding-top: 100px;
}

.cards .card .card-content{
    height: 136px;
}

.card{
    width: 395px;
}

.card .card-image{
    height: 395px;
}

.card .card-image .card-title{
    color: #fff;
    font-weight: 500;
}

.cart{
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 999;
    background: #EE6E73;
    color: white;
    width: 50px;
    height: 50px;
}

.cart i{
    font-size: 32px;
}

.cart-quantity{
    position: absolute;
    right: 3px;
    top: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width: 757px) {
    .cart{
        top: 5rem;
        right: 2rem;
    }
}

@media screen and (max-width: 768px) {
    .collection-item, .secondary-content{
        flex-direction: column;
    }
}

.bsk{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    height: 200%;
}

.basket-list{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    width: 80%;
    max-width: 95%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    animation: show .5s;
    overflow: scroll;
    height: 500px;
}

@keyframes show {
    from{
        top: 70%;
        opacity: 0;
    }
    to{
        top: 50%;
        opacity: 1;
    }
}

.basket-close{
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    color: white;
}

.basket-delete{
    cursor: pointer;
    color: red;
}

.collection-item{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondary-content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.waves-effect{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}